{% extends "base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p>
      <a href="{% url 'core:video_add' %}">
        <button class="btn btn-primary btn-lg" type="button">
          Add Video &raquo;
        </button>
      </a>
    </p>
  </div>
</div>

<div class="text-center mt-5 pt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Theme</th>
            </tr>
        </thead>
        <tbody>
    {% for video in videos %}
      <tr>
        <td>{{ video.title }}</td>
        <td>{{ video.theme }}</td>
        <td id="thumbs_up_{{ video.id }}">
          <i class="fa fa-thumbs-up" style="color: blue"></i>
        </td>
        <td id="like_{{ video.id }}" style="padding-right: 10px">{{ video.like }}</td>
        <td id="thumbs_dow_{{ video.id }}">
          <i class="fa fa-thumbs-down" style="color: blue"></i>
        </td>
        <td id="unlike_{{ video.id }}">{{ video.unlike }}</td>
      </tr>
{% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}